@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="middle-sidebar-left">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card w-100 border-0 p-0 rounded-3 overflow-hidden bg-image-contain bg-image-center" style="background-image: url('/assets/images/help-bg.png');">
                <div class="card-body p-md-5 p-4 text-center" style="background-color: rgba(0, 85, 255, 0.8);">
                    <h2 class="fw-700 display2-size text-white display2-md-size lh-2">Welcome to the Sociala Commuinity!</h2>
                    <p class="font-xsss ps-lg-5 pe-lg-5 lh-28 text-grey-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus </p>
                    @*<div class="form-group w-lg-75 mt-4 border-light border p-1 bg-white rounded-3 ms-auto me-auto">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group icon-input mb-0"><i class="ti-search font-xs text-grey-400"></i><input type="text" class="style1-input border-0 ps-5 font-xsss mb-0 text-grey-500 fw-500 bg-transparent" placeholder="Search anythings.."></div>
                                </div>
                                <div class="col-md-4"><a href="helpbox" class="w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input p-0 border-0 text-uppercase ">Search</a></div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="card w-100 border-0 shadow-none bg-transparent mt-5">
                <div data-accordion-component="Accordion" class="accodion-style--1 accordion">
                    <div data-accordion-component="AccordionItem" class="card shadow-xss">
                        <div data-accordion-component="AccordionItemHeading" class="card-header" role="heading" aria-level="3">
                            <div id="accordion__heading-0" aria-disabled="true" aria-expanded="true" aria-controls="accordion__panel-0" role="button" tabindex="0" class="accordion__button" data-accordion-component="AccordionItemButton">
                                <h5 class="fw-600 pt-2 pb-2 mb-0">I have read and agree to the Privacy Policy and Terms &amp; Conditions*</h5>
                            </div>
                        </div>
                        <div data-accordion-component="AccordionItemPanel" class="card-body" role="region" aria-labelledby="accordion__heading-0" id="accordion__panel-0">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS
                            </p>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItem" class="card shadow-xss">
                        <div data-accordion-component="AccordionItemHeading" class="card-header" role="heading" aria-level="3">
                            <div id="accordion__heading-1" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-1" role="button" tabindex="0" class="accordion__button" data-accordion-component="AccordionItemButton">
                                <h5 class="fw-600 pt-2 pb-2 mb-0">You can easily build a page without any design or custom coding.</h5>
                            </div>
                        </div>
                        <div data-accordion-component="AccordionItemPanel" class="card-body" role="region" aria-labelledby="accordion__heading-1" id="accordion__panel-1" hidden="">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS
                            </p>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItem" class="card shadow-xss">
                        <div data-accordion-component="AccordionItemHeading" class="card-header" role="heading" aria-level="3">
                            <div id="accordion__heading-2" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-2" role="button" tabindex="0" class="accordion__button" data-accordion-component="AccordionItemButton">
                                <h5 class="fw-600 pt-2 pb-2 mb-0">I have read and agree to the Privacy Policy and Terms &amp; Conditions*</h5>
                            </div>
                        </div>
                        <div data-accordion-component="AccordionItemPanel" class="card-body" role="region" aria-labelledby="accordion__heading-2" id="accordion__panel-2" hidden="">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS
                            </p>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItem" class="card shadow-xss">
                        <div data-accordion-component="AccordionItemHeading" class="card-header" role="heading" aria-level="3">
                            <div id="accordion__heading-3" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-3" role="button" tabindex="0" class="accordion__button" data-accordion-component="AccordionItemButton">
                                <h5 class="fw-600 pt-2 pb-2 mb-0">You can easily build a page without any design or custom coding.</h5>
                            </div>
                        </div>
                        <div data-accordion-component="AccordionItemPanel" class="card-body" role="region" aria-labelledby="accordion__heading-3" id="accordion__panel-3" hidden="">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>