@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-lg-12">
                <div class="chat-wrapper p-3 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                    <h2 class="fw-700 mb-4 mt-2 font-md text-grey-900 d-flex align-items-center">
                        Notification<span class="circle-count bg-warning text-white font-xsssss rounded-3 ms-2 ls-3 fw-600 p-2  mt-0">23</span>
                        <a href="/defaultnotification" class="ms-auto btn-round-sm bg-greylight rounded-3">
                            <i class="feather-hard-drive font-xss text-grey-500"></i>
                        </a>
                        <a href="/defaultnotification" class="ms-2 btn-round-sm bg-greylight rounded-3">
                            <i class="feather-alert-circle font-xss text-grey-500"></i>
                        </a>
                        <a href="/defaultnotification" class="ms-2 btn-round-sm bg-greylight rounded-3">
                            <i class="feather-trash-2 font-xss text-grey-500"></i>
                        </a>
                    </h2>
                    <ul class="notification-box">
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-light-bg">
                                <img src="/assets/images/user-12.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Hurin Seary</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 12 minute ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-12.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-thumbs-up bg-primary-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Victor Exrixon</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 45 minute ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-8.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-thumbs-up bg-primary-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Surfiya Zakir</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 1 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-7.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Goria Coast</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 2 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-5.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Hurin Seary</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 5 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-6.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>David Goria</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 12 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-light-bg">
                                <img src="/assets/images/user-12.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Hurin Seary</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 12 minute ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-12.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-thumbs-up bg-primary-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Victor Exrixon</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 45 minute ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-8.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-thumbs-up bg-primary-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Surfiya Zakir</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 1 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-7.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Goria Coast</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 2 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 ">
                                <img src="/assets/images/user-5.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>Hurin Seary</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 5 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/defaultnotification" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-light-bg">
                                <img src="/assets/images/user-6.png" alt="user" class="w45 me-3">
                                <i class="text-white me-2 font-xssss notification-react feather-heart bg-red-gradiant"></i>
                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>David Goria</strong> posted in : UI/UX Community : Mobile Apps UI Designer is required for Tech… <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> 12 hour ago</span> </h6>
                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>