@model List<Social_Network.WebUI.Entities.CustomIdentityUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow-xss w-100 d-block d-flex border-0 p-4 mb-3">
                    <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900 d-flex align-items-center">
                        Group
                        <form action="#" class="pt-0 pb-0 ms-auto">
                            <div class="search-form-2 ms-2"><i class="ti-search font-xss"></i><input type="text" class="form-control text-grey-500 mb-0 bg-greylight theme-dark-bg border-0" placeholder="Search here."></div>
                        </form><a href="/" class="btn-round-md ms-2 bg-greylight theme-dark-bg rounded-3"><i class="feather-filter font-xss text-grey-500"></i></a>
                    </h2>
                </div>
                <div class="row ps-2 pe-1">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-sm-6 pe-2 ps-2">
                            <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-0 mt-2">
                                <div class="card-body position-relative h100 bg-image-cover bg-image-center" style="background-image: url(&quot;assets/images/bb-16.png&quot;);"></div>
                                <div class="card-body d-block w-100 pl-10 pe-4 pb-4 pt-0 text-left position-relative">
                                    <figure class="avatar position-absolute w75 z-index-1 left-15" style="margin-top: -40px;"><img src="assets/images/user-12.png" alt="avater" class="float-right p-1 bg-white rounded-circle w-100 "></figure>
                                    <div class="clearfix"></div>
                                    <h4 class="fw-700 font-xsss mt-3 mb-1">@item.UserName</h4>
                                    <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3 lh-3">@item.Email</p><span class="position-absolute right-15 top-0 d-flex align-items-center"><a href="/defaultgroup" class="d-lg-block d-none"><i class="feather-video btn-round-md font-md bg-primary-gradiant text-white"></i></a><a href="/defaultgroup" class="text-center p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a></span>
                                </div>
                            </div>
                        </div>
                    }


                    <div class="card w-100 text-center shadow-xss rounded-xxl border-0 p-4 mb-3 mt-3">
                        <div class="snippet mt-2 ms-auto me-auto" data-title=".dot-typing">
                            <div class="stage">
                                <div class="dot-typing"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

