@model Social_Network.WebUI.Models.LoginViewModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



@{ ViewBag.Title = "Login"; }

<h2 class="fw-700 display1-size display2-md-size mb-3">Login into <br>your account</h2>
@if (TempData["noLogErr"] != null)
{
<div class="alert alert-danger animate__animated animate__backInLeft" role="alert">@TempData["noLogErr"]</div> }
            else if (TempData["succReg"] != null)
            {
<div class="alert alert-success animate__animated animate__backInLeft" role="alert">@TempData["succReg"]</div>}
<form asp-controller="Account" asp-action="Login" method="post" role="form">
    <div class="form-group icon-input mb-3">
        <i class="font-sm ti-user text-grey-500 pe-0"></i>
        <input asp-for="Username" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600" placeholder="Your Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group icon-input mb-1">
        <input asp-for="Password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3" placeholder="Password">
        <i class="font-sm ti-lock text-grey-500 pe-0"></i>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check text-left mb-3">
        <input asp-for="RememberMe" class="form-check-input mt-2">
        <label asp-for="RememberMe" class="form-check-label font-xsss text-grey-500">Remember me</label>
        <a asp-controller="Account" asp-action="Forgot" class="fw-600 font-xsss text-info mt-1 float-right">Forgot your Password?</a>
    </div>
    <div class="col-sm-12 p-0 text-left">
        <div class="form-group mb-1">
            <input class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0" type="submit" value="Login" />
        </div>
        <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">
            Dont have account
            <a asp-controller="Account" asp-action="Register" class="fw-700 ms-1">Register</a>
        </h6>
    </div>
</form>
<div class="col-sm-12 p-0 text-center mt-2">
    <h6 class="mb-0 d-inline-block bg-white fw-500 font-xsss text-grey-500 mb-3">Or, Sign up with your social account </h6>
    <div class="form-group mb-1">
        <a asp-controller="Account" asp-action="GoogleLogin" class="form-control text-left style2-input text-white fw-600 bg-facebook border-0 p-0 mb-2">
            <img src="/assets/images/icon-1.png" alt="icon" class="ms-2 w40 mb-1 me-5"> Sign up with Google
        </a>
    </div>
    <div class="form-group mb-1">
        <a asp-controller="Account" asp-action="FacebookLogin" class="form-control text-left style2-input text-white fw-600 bg-twiiter border-0 p-0 ">
            <img src="/assets/images/icon-3.png" alt="icon" class="ms-2 w40 mb-1 me-5"> Sign up with Facebook
        </a>
    </div>
</div>

